 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1403px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 12px 160px 0 187px;
}

.u-section-1 .u-products-1 {
  width: 986px;
  margin: -5px 63px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  min-height: 1199px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 9px;
}

.u-section-1 .u-image-1 {
  height: 235px;
  width: 235px;
  margin: 0 306px 0 11px;
}

.u-section-1 .u-group-1 {
  min-height: 350px;
  width: 230px;
  height: auto;
  margin: -235px 0 0 269px;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 34px 0 0;
}

.u-section-1 .u-product-price-1 {
  margin: 7px 172px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px 148px 0 0;
}

.u-section-1 .u-container-layout-3 {
  text-transform: none;
  font-size: 1rem;
  padding: 30px 9px 0;
}

.u-section-1 .u-image-2 {
  height: 235px;
  width: 235px;
  margin: 0 306px 0 11px;
}

.u-section-1 .u-group-2 {
  min-height: 386px;
  width: 230px;
  height: auto;
  margin: -235px 0 0 269px;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 34px 0 0;
}

.u-section-1 .u-product-price-2 {
  margin: 7px 172px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px 148px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 9px 0;
}

.u-section-1 .u-image-3 {
  height: 235px;
  width: 235px;
  margin: 0 306px 0 11px;
}

.u-section-1 .u-group-3 {
  min-height: 386px;
  width: 230px;
  height: auto;
  margin: -235px 0 0 269px;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 34px 0 0;
}

.u-section-1 .u-product-price-3 {
  margin: 7px 172px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px 148px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 9px;
}

.u-section-1 .u-image-4 {
  height: 235px;
  width: 235px;
  margin: 0 306px 0 11px;
}

.u-section-1 .u-group-4 {
  min-height: 350px;
  width: 230px;
  height: auto;
  margin: -235px 0 0 269px;
}

.u-section-1 .u-container-layout-8 {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 34px 0 0;
}

.u-section-1 .u-product-price-4 {
  margin: 7px 172px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px 148px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 9px 0;
}

.u-section-1 .u-image-5 {
  height: 235px;
  width: 235px;
  margin: 0 306px 0 11px;
}

.u-section-1 .u-group-5 {
  min-height: 350px;
  width: 230px;
  height: auto;
  margin: -235px 0 0 269px;
}

.u-section-1 .u-container-layout-10 {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 34px 0 0;
}

.u-section-1 .u-product-price-5 {
  margin: 7px 172px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px 148px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 9px 0;
}

.u-section-1 .u-image-6 {
  height: 235px;
  width: 235px;
  margin: 0 306px 0 11px;
}

.u-section-1 .u-group-6 {
  min-height: 350px;
  width: 230px;
  height: auto;
  margin: -235px 0 0 269px;
}

.u-section-1 .u-container-layout-12 {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: 34px 0 0;
}

.u-section-1 .u-product-price-6 {
  margin: 7px 172px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px 148px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 793px;
    margin-left: 87px;
    margin-right: 60px;
  }

  .u-section-1 .u-products-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1143px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 167px;
    width: 167px;
    margin-right: 283px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-1 {
    min-height: 244px;
    width: 263px;
    margin-top: -167px;
    margin-left: 207px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 167px;
    width: 167px;
    margin-right: 283px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-2 {
    min-height: 244px;
    width: 263px;
    margin-top: -167px;
    margin-left: 207px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 167px;
    width: 167px;
    margin-right: 283px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-3 {
    min-height: 244px;
    width: 263px;
    margin-top: -167px;
    margin-left: 207px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 167px;
    width: 167px;
    margin-right: 283px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-4 {
    min-height: 244px;
    width: 263px;
    margin-top: -167px;
    margin-left: 207px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 167px;
    width: 167px;
    margin-right: 283px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-5 {
    min-height: 244px;
    width: 263px;
    margin-top: -167px;
    margin-left: 207px;
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 167px;
    width: 167px;
    margin-right: 283px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-6 {
    min-height: 244px;
    width: 263px;
    margin-top: -167px;
    margin-left: 207px;
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-products-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 244px;
    width: 254px;
    margin-right: 446px;
  }

  .u-section-1 .u-group-1 {
    width: 406px;
    margin-top: -244px;
    margin-left: 314px;
  }

  .u-section-1 .u-image-2 {
    height: 244px;
    width: 254px;
    margin-right: 446px;
  }

  .u-section-1 .u-group-2 {
    width: 406px;
    margin-top: -244px;
    margin-left: 314px;
  }

  .u-section-1 .u-image-3 {
    height: 244px;
    width: 254px;
    margin-right: 446px;
  }

  .u-section-1 .u-group-3 {
    width: 406px;
    margin-top: -244px;
    margin-left: 314px;
  }

  .u-section-1 .u-image-4 {
    height: 244px;
    width: 254px;
    margin-right: 446px;
  }

  .u-section-1 .u-group-4 {
    width: 406px;
    margin-top: -244px;
    margin-left: 314px;
  }

  .u-section-1 .u-image-5 {
    height: 244px;
    width: 254px;
    margin-right: 446px;
  }

  .u-section-1 .u-group-5 {
    width: 406px;
    margin-top: -244px;
    margin-left: 314px;
  }

  .u-section-1 .u-image-6 {
    height: 244px;
    width: 254px;
    margin-right: 446px;
  }

  .u-section-1 .u-group-6 {
    width: 406px;
    margin-top: -244px;
    margin-left: 314px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 540px;
  }

  .u-section-1 .u-products-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    height: 193px;
    width: 205px;
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 224px;
    width: 325px;
    margin-top: -193px;
    margin-left: 215px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 193px;
    width: 205px;
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 224px;
    width: 325px;
    margin-top: -193px;
    margin-left: 215px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 193px;
    width: 205px;
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    min-height: 224px;
    width: 325px;
    margin-top: -193px;
    margin-left: 215px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 193px;
    width: 205px;
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    min-height: 224px;
    width: 325px;
    margin-top: -193px;
    margin-left: 215px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 193px;
    width: 205px;
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    min-height: 224px;
    width: 325px;
    margin-top: -193px;
    margin-left: 215px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 193px;
    width: 205px;
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    min-height: 224px;
    width: 325px;
    margin-top: -193px;
    margin-left: 215px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 1px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
  }

  .u-section-1 .u-products-1 {
    margin-top: -142px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 3268px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 226px;
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 116px;
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-left: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 0;
    margin-right: 222px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 253px;
    margin-left: -11px;
    padding: 5px 25px 5px 24px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-image-2 {
    height: 226px;
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 116px;
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-left: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-product-price-2 {
    margin-top: 0;
    margin-right: 222px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 253px;
    margin-left: -11px;
    padding: 5px 25px 5px 24px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-1 .u-image-3 {
    height: 226px;
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 116px;
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    margin-left: 10px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-product-price-3 {
    margin-top: 0;
    margin-right: 222px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 253px;
    margin-left: -11px;
    padding: 5px 25px 5px 24px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    height: 226px;
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 116px;
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.875rem;
    margin-left: 10px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-product-price-4 {
    margin-top: 0;
    margin-right: 222px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 253px;
    margin-left: -11px;
    padding: 5px 25px 5px 24px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-1 .u-image-5 {
    height: 226px;
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-5 {
    min-height: 116px;
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.875rem;
    margin-left: 10px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-product-price-5 {
    margin-top: 0;
    margin-right: 222px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 253px;
    margin-left: -11px;
    padding: 5px 25px 5px 24px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
  }

  .u-section-1 .u-image-6 {
    height: 226px;
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-6 {
    min-height: 116px;
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
  }

  .u-section-1 .u-text-13 {
    font-size: 0.875rem;
    margin-left: 10px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-product-price-6 {
    margin-top: 0;
    margin-right: 222px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 253px;
    margin-left: -11px;
    padding: 5px 25px 5px 24px;
  }
}